{% extends "base.html" %}

{% block title %}Politicos API{% end %}

{% block content %}
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-3">Todos os candidatos Brasileiros!</h1>
      <p>Aqui você vai encontrar os dados, ferramentas e recursos para realizar
      pesquisas, desenvolver aplicativos, visualizações de dados, e muito
      mais.</p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-lg-6">
        <h2>Dados abertos</h2>
        <p>Segundo a <a href="http://opendefinition.org/" target="_blank">Open
            Definition</a>, dados abertos são dados que podem ser livremente
        utilizados, reutilizados e redistribuídos por qualquer pessoa –
        sujeitos, no máximo, à exigência de atribuição à fonte original e ao
        compartilhamento pelas mesmas licenças em que as informações foram
        apresentadas -- <a href="https://pt.wikipedia.org/wiki/Dados_abertos"
        target="_blank">Wikipedia</a></p>
      </div>
      <div class="col-lg-6">
        <h2>O que é uma API?</h2>
        <p>A sigla API refere-se ao termo em inglês "<i>Application Programming
            Interface</i>" que significa em tradução livre para o português
        "Interface de Programação de Aplicativos". API é um conjunto de rotinas
        e padrões estabelecidos por um software para a utilização das suas
        funcionalidades por aplicativos que não pretendem envolver-se em
        detalhes da implementação do software, mas apenas usar seus serviços --
        <a
            href="https://pt.wikipedia.org/wiki/Interface_de_programa%C3%A7%C3%A3o_de_aplica%C3%A7%C3%B5es"
            target="_blank">Wikipedia</a></p>
      </div>
    </div> <!-- /row -->
  </div> <!-- /container -->

{% end %}
