{% load staticfiles %}
{% load elections_tag %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Todos os candidatos Brasileiros!" />
    <meta name="keywords" content="político, prefeito, presidente, deputado, vereador, governador, parlamentar, api, dados abertos, candidatos brasileiros" />
    <meta name="author" content="Marcelo Jorge Vieira">
    <meta property="og:site_name" content="Políticos API" />
    <meta property="og:title" content="Políticos API" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:description" content="Todos os candidatos Brasileiros! Aqui você vai encontrar os dados, ferramentas e recursos para realizar pesquisas, desenvolver aplicativos, visualizações de dados, e muito mais." />
    <meta property="og:image" content="http://{{ request.get_host }}{% static 'imgs/olhoneles_op.png' %}" />

    <title>{% block title %}{% endblock title %}</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="{% static "css/base.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <noscript>Your browser does not support JavaScript!</noscript>

    {% block head_css %}{% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Políticos API</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url "website:developers" %}">Desenvolvedores</a></li>
              <li><a href="{% url "website:examples" %}">Exemplos</a></li>
              <li><a href="http://olhoneles.github.io/politicos-react/" target="_blank">Demonstração</a></li>
              <li><a href="/api/v0">Rotas da API</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="main">
    {% block content %}
    {% endblock %}
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h3>Links</h3>
                    <ul class="content-menu">
                        <li class="links"><a href="http://olhoneles.github.io/politicos-react/" target="_blank">Exemplo em React.JS</a></li>
                        <li class="links"><a href="{% url "website:contact-us" %}">Fale Conosco</a></li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <h3>Código Fonte</h3>
                    <p>O código deste site é <a href="http://www.gnu.org/philosophy/philosophy.pt-br.html" target="_blank">livre</a>, licenciado sob a <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="_blank">Affero GPL</a>.
                    Você pode pegar o código executando o seguinte comando:</p>
                    <pre>$ git clone https://github.com/olhoneles/politicos.git</pre>
                    <p>Você também pode <a href="https://github.com/olhoneles/politicos" target="_blank">navegar</a> no nosso repositório.</p>
                </div>
                <div class="col-lg-4">
                    <h3>Conteúdo</h3>
                    <p>Os dados usados neste site são públicos e foram extraídos de sites oficiais.</p>
                    {% show_footer_elections %}
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
    {% block bottom_js %}{% endblock %}
  </body>
</html>
