{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}


{% block title %}Fale Conosco{% endblock %}


{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Fale Conosco</h1>

          <p>Caso tenha alguma dúvida ou sugestão mande uma mensagem através do formulário abaixo:</p>

          {% if success_message %}
          <div class="alert alert-success">{{ success_message }}</div>
          {% endif %}

          <form action="" method="post" class="form">{% csrf_token %}
            {% bootstrap_form contact_us_form layout='vertical' %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Enviar mensagem
            </button>
            {% endbuttons %}
          </form>
        </div>
      </div>
    </div>
{% endblock %}
